
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: saturate(180%) blur(10px);
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 12px 5px;
	z-index: 10;
	color: whitesmoke;
  }
.cir_border:hover {
	color: #fc036b;
  }
  .logo {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	padding: 0 1.2rem;
  }
  
  .nav-links {
	display: flex;
  }
  
  
  .nav-links li a {
	color: white;
	cursor: pointer;
  }

  .cir_border {
	padding: 6px 20px;
	font-weight: bold;
	border: 2px hidden whitesmoke;
	border-radius: 20px;
	margin: 0px -4px;
  }
  
  .active {
	border: 2px solid whitesmoke;
	border-radius: 20px;
	color: #fc036b;
	cursor: pointer;
  }
* {
 margin: 0;
 padding: 0;
 /* font-family: 'Josefin Sans', sans-serif; */
}

.container {
 width: 87%;
 height: 100vh;
  display: flex;
   padding: 150px 100px;
   height: 80%;
   align-items: center;
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(ContactUs2.jpg);
 background-position: center;
 background-size: cover;
}
.service {
background-image: url(photo_2023-01-20_15-46-39.jpg);
 /* background: #677381; */
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 500px;
 width: 100%;
 padding: 100px 0px;
border-radius: 20px;
}

.title h2 {
 color: white;
 font-size: 75px;
 width: 1130px;
 margin: 30px auto;
 text-align: center;
}

.box {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 400px;
}

.card {
 height: 365px;
 width: 335px;
 padding: 20px 35px;
 background: #2A272A;
 border-radius: 20px;
 margin: 15px;
 position: relative;
 overflow: hidden;
 text-align: center;
}

.card i {
 font-size: 50px;
 display: block;
 text-align: center;
 margin: 25px 0px;
 color: #f9004d;
}

h5 {
 color: white;
 font-size: 23px;
 margin-bottom: 15px;
}

.pra p {
 color: #fcfc;
 font-size: 16px;
 line-height: 27px;
 margin: 25px;
}

.card .button {
 background-color: #f9004d;
 color: white;
 text-decoration: none;
 border: 2px solid transparent;
 font-weight: bold;
 padding: 9px 22px;
 border-radius: 30px;
 transition: .4s;
}

.card .button:hover {
 background-color: transparent;
 border: 2px solid #f9004d;
 cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
}

.end {
  position: absolute;
  bottom: 35px;
  align-items: center;
  justify-content: center;
}

.end a {

  color: #f9004d;

  font-size: 14px;
  text-decoration: none;

}