
/* Navbar */

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: saturate(180%) blur(10px);
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 12px 5px;
	z-index: 10;
	color: whitesmoke;
  }
.cir_border:hover {
	color: #fc036b;
  }
  .logo {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	padding: 0 1.2rem;
  }
  
  .nav-links {
	display: flex;
  }
  
  
  .nav-links li a {
	color: white;
	cursor: pointer;
  }
  .cir_border {
	padding: 6px 20px;
	font-weight: bold;
	border: 2px hidden whitesmoke;
	border-radius: 20px;
	margin: 0px -4px;
  }
  .active {
	border: 2px solid whitesmoke;
	border-radius: 20px;
	color: #fc036b;
	cursor: pointer;
  }
  a{
	text-decoration: none;
  }
  ul{
	list-style: none;
  }
h1{
    font-size: 4rem;
    margin-left: 3%;
}

h2{
    font-size: 4rem;
    margin-left: 36%;}

h3{
    font-size: 3rem;
    margin-left: 12%;
}
.card-image > img {
	display: block;
    width: 320px;
    height:280px;
    object-fit: cover;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
    background: url("img/background.jpg");
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}
img:hover{
	transition: 1.2s;
	width: 350px;
	height: 300px;
	border-radius:44px 80px 0 0 ;
}
.card-list:hover{
	cursor: pointer;
}
.gallery{
		margin-top: 200px;

	  
}
.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}
.card-description > h2 {
	margin: 0 0 0.5em;
}
.card-description > p {
	margin: 0;
}
.footer {
	margin-right: 80px;
	margin-left: 80px;
  }
  .footer p {
	font-family: verdana;
	font-size: 14px;
	border-top: 1px #d8d8d8 solid;
	text-align: center;
  }
  .footer a:hover {
	color: #00b300;
  }
  .footer {
	width: 100%;
	min-height: 60px;
	padding: 20px 80px;
	margin: 0;
	background: #222;
	text-align: center;
  }
  
  .footer span {
	display: block;
	color: whitesmoke;
	padding: 20px auto;
  }
  